<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='style.css'/>
    <title>Newening</title>
</head>
<body>
    <div id= "heading">
        <h2>Newening</h2>
    </div>
    <div class= "btn-grp">
        <button><a href="login.html">PLAY</a></button>
        <button><a href="leaderboard.html">LEADERBOARD</a></button>
    </div>
    <!-- <div class = "retry"> 
        <button>Retry</button>
    </div>
    <div class = "end"> 
        OH NO!<br>
        YOU HIT A CRACKER<br>
        GAME OVER
    </div>
    <div class = "practiceScreen">
        <div class ="scoreBoard"></div>
        <script src = "script.js"> </script> 
    </div> -->
</body>
</html>