<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='style.css'/>
    <title>Newening</title>
</head>
<body>
    <div id= "heading">
        <h2>Newening</h2>
    </div>
    <div class= "btn-grp">
        <button id="b1" onclick="myFunction()">PLAY</button>
        <button><a href="leaderboard.html">LEADERBOARD</a></button>
    </div>
    <script>
        var player = sessionStorage.getItem("Player");
        var play = document.getElementById("b1");
        console.log("Player: ",sessionStorage.getItem("Player"));
        function myFunction() {
            if(player === null){
                // play.addEventListener('click',location.href='play.html');
                play.addEventListener('click',location.href='login.html');
            } else {
                // play.addEventListener('click',location.href='login.html');
                play.addEventListener('click',location.href='play.html');
                // console.log("HELLOOOO!!!")
            }
        }
    </script>
</body>
</html>