<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login/Register</title>
    <link rel="stylesheet" type="text/css" href="login.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src = "login.js"></script>
    <script type="text/javascript" src = "cookies.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body onload="init();">
    <div class="container">
        <form id="form1" class="form1">
          <div class="top"></div>
          <div class="bottom"></div>
          <div class="center">
            <label for="usrname">Username</label>
            <input type="text" id="username" align="center" placeholder="Username" required>
      
            <label for="psw">Password</label>
            <input type="password" id="password" align="center" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
      
            <div style="width:400px;">
                <div style="float: left; width: 130px">
                    <input id="register" class="submit" type="button" value="Register" />
                </div>
                <div style="float: right; width: 200px">
                    <input id="login" class="submit2" type="button" value="Login" />
                </div>
            </div>
          </div>
        </form>
    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <ul>
          <li>
            <div id="wrongpass">
              Wrong Password Entered
            </div>
          </li>
          <li class="image">
            <img src="cancel.png" class="cancel" style=cursor:pointer onclick="myfunction()" />
          </li>
          <div id= "guidelines" style="display: none;">
            <b>Password must contain the following:</b>
              <p>A <b>lowercase</b> letter</p>
              <p>A <b>capital (uppercase)</b> letter</p>
              <p>A <b>number</b></p>
              <p>Minimum <b>8 characters</b></p>
          </div>
        </ul>
      </div>
    </div>
    <script>
      function myfunction(){
        var modal = document.getElementById("myModal");
        modal.style.display = "none";
      }
    </script>
</body>
</html>
