<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='play.css'/>
    <title>Newening</title>
</head>
<body onload="startGame()"> 
    <div class = "retry"> 
        <button>Retry</button>
    </div>
    <div class = "end"> 
        OH NO!<br>
        YOU HIT A CRACKER<br>
        GAME OVER
    </div>
    <div class = "practiceScreen">
        <div class ="scoreBoard"></div>
        <script src = "script.js"> </script> 
    </div>
</body>
</html>