*{
    margin: 0;
    padding: 0;
  }
  
  body{
    overflow-x: hidden; /*prevents horizontal scrolling(applicable to the default web browser zoom level)*/
    overflow-y: hidden; 
  }
  
  #container{
    position: relative;
  }

  .pause {
    margin: 0;
    z-index: 10;
    position: absolute;
    height: 50px;
    top: 30px;
    left: 40px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .play {
    margin: 0;
    z-index: 10;
    position: absolute;
    height: 40px;
    top: 28px;
    left: 20px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .retry {
    margin: 0;
    z-index: 10;
    position: absolute;
    height: 50px;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  a .goback{
    position: absolute;
    height: 40px;
    top: 56%;
    left: 46.3%;
    width: 104px;
  }

  a .goback:active {
    transform: translateY(4px);
  }

   .end{
    top: 0px;
    left: 500px;
    position: absolute;
    margin: auto;
    width: 300px;
    border: 3px;
    background-color: black;
    color:white;
    z-index: 1;
    text-align: center;
    padding: 15px;
    cursor:pointer;
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; 
    letter-spacing: 5;
    font-size: 20px;
    word-spacing:3;
    box-shadow: 0 5px 5px white;
    animation: glow 3s ease-in-out infinite alternate;
  
  }
  
  
  /* .scoreBoard
  {
    position: absolute;
    background-size:contain;
    left:40px;
    top:40px;
    line-height: 250px;
    font-size: 20px;
    height:50vh;
    width:21%;
    background-image:url("https://f28wp-dubai-weblings.github.io/Game/client/media/icons/scoreBoard.png");
    background-repeat:no-repeat ;
    text-align: center;
    color:white;
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; 
    animation: glow 3s ease-in-out infinite alternate;
  } */
  
  @keyframes glow{
    from {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #d1abbe, 0 0 30px #a38896, 0 0 40px #dfb6ca, 0 0 50px #bb6c93, 0 0 60px #9e195c;
      }
      
      to {
        text-shadow: 0 0 9px #fff, 0 0 13px #ff4da6, 0 0 23px #ff4da6, 0 0 30px #ff4da6, 0 0 43px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6;
      }
  }

  #deathMessage{
    font-size: 40px;
    color: white;
    position: absolute;
    top: 120px;
    left: 430px;
    font-family: "Lucida Console", Courier, monospace;
  }
