<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='play.css'/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Newening</title>
</head>
<body onload="startGame()">
    <div class = "retry"> 
        <img src="retry.png" class="retry"/>
    </div>
    <a href="index.html"><img src="back.png" class="goback"/></a>
    <div class = "end"> 
        OH NO!<br>
        YOU HIT A CRACKER<br>
        GAME OVER
    </div>
    <div class = "practiceScreen">
        <div class ="scoreBoard"></div>
        <script src = "script.js"> </script> 
    </div>
</body>
</html>