body {
    background-image: url('stars.jpg');
    background-color: #050505;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    overflow-x: hidden; /*prevents horizontal scrolling(applicable to the default web browser zoom level)*/
    overflow-y: hidden;
}
 
#heading{
    top: 0px;
    font-size: 50px;
    text-align:center;
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; 
    font-weight: 500;
    margin: auto;
    width: 50%;
    border: 3px;
    padding: 10px;
    animation: glow 3s ease-in-out infinite alternate;
    } 

@keyframes glow{
    from {
        text-shadow: 0 0 5px rgb(23, 188, 218), 0 0 10px rgb(15, 161, 187), 0 0 20px #09738d, 0 0 30px #3a66dd, 0 0 40px #4169ec, 0 0 50px #2252d6, 0 0 60px #6f10af;
    }
    to {
        text-shadow: 0 0 5px rgb(23, 188, 218), 0 0 10px rgb(15, 161, 187), 0 0 20px #09738d, 0 0 30px #3a66dd, 0 0 40px #4169ec, 0 0 50px #2252d6, 0 0 60px #6f10af;
    }      
}

:root {
  --light: #7e34de;
  --dark: #5c28bd;
  --text: #ffffff;
}

div {
  display: block;
  width: 400px;
  margin: 0 auto 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 30vh;
}

button {
  display: block;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: var(--light);
  width: 400px;
  height: 70px;
  border-radius: 30px;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text);
  background-size: 100% 100%;
  box-shadow: 0 0 0 7px var(--light) inset;
  margin-bottom: 15px;
}

button:hover {
  background-image: linear-gradient(
    145deg,
    transparent 10%,
    var(--dark) 10% 20%,
    transparent 20% 30%,
    var(--dark) 30% 40%,
    transparent 40% 50%,
    var(--dark) 50% 60%,
    transparent 60% 70%,
    var(--dark) 70% 80%,
    transparent 80% 90%,
    var(--dark) 90% 100%
  );
  animation: background 3s linear infinite;
}

@keyframes background {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 400px 0;
  }
}

  .end{
    position: absolute;
    top: 0px;
    left: 340px;
    margin: auto;
    width: 50%;
    border: 3px;
    background-color: black;
    color:white;
    z-index: 1;
    text-align: center;
    padding: 15px;
    cursor:pointer;
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; 
    letter-spacing: 5;
    font-size: 20px;
    word-spacing:3;
    box-shadow: 0 5px 5px white;
    animation: glow 3s ease-in-out infinite alternate;
  
  }
  .retry{
    position: absolute;
    top: 500px;
    left: 340px;
  }
  